.intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20rem;
    gap: 3rem;
    background: $white;
    border-radius: 1rem;
    margin-bottom: 9.5rem;
    background: $white;
    &::before {
        position: absolute;
        content: "";
        width: 93.75%;
        height: 94%;
        background: #0D1025;
        opacity: 0.06;
        filter: blur(11.4rem);
        border-radius: 1rem;
        transform: translateY(26.4%);
        z-index: -1;
    }
    &__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &--icon {
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            background: $redLight;
            text-align: center;
            margin-right: 3.65rem;
            .fas, .fa {
                width: 2.4rem;
                height: 2.4rem;
                font-size: 1.6rem;
                line-height: 5.5rem;
                color: $red;
            }
        }
        &--content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                font-weight: 700;
                font-size: 2.5rem;
                line-height: 1.2;
                color: $textPrimary;
            }
            span {
                font-weight: 400;
                font-size: 2rem;
                line-height: 1.5;
                color: $textSecond;
            }
        }
    }
    &__item:nth-child(1)::after, &__item:nth-child(2):before {
        position: absolute;
        content: "";
        width: 0.2rem;
        height: 12.5rem;
        background: $introbd;
        transform: translateX(20rem);
    }
}
@media screen and (max-width: 993px) {
    .intro {
        
        &__item {
           border-right: 0.2rem solid $grey;
        }
        &__item:last-child {
            border: none;
        }
        &__item:nth-child(1)::after, &__item:nth-child(2):before {
        display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .intro {
        &__item {
            &--content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
                p {
                    font-size: 2rem;
                }
                span {
                    font-size: 1.8rem;
                    line-height: 1.5;
                }
            } 
        }

    }
}

@media screen and (max-width: 576px) {
    .intro {
        display: flex;
        flex-direction: column;
        height: auto;
        &__item {
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           text-align: center;
           border: none;
           padding: 2rem;
           &--icon {
            width: 5.5rem;
            height: 5.5rem;
            margin-right: 0;
            margin-bottom: 1rem;
            }
        }
    }
}