.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0 9rem 0;
    &__link {
        display: flex;
        list-style: none;
        gap: 4rem;
        .nav__link {
            font-size: 1.6rem;
            font-weight: 400;
            color: $textSecond;
        }
    }
    &__auth {
        display: flex;
        gap: 3rem;
    }
}