.reviews {
    margin-bottom: 20.1rem;
    //slick
    .slick-track {
        display: flex;
        gap: 0 5rem;
    }
    .slick-prev, .slick-next {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        z-index: 10;
        bottom: 0;
        transform: translateY(50%);
    }
    .slick-next {
        right: 0;
        background: $red;
    }
    .slick-prev {
        right: 8rem;
        border: 0.2rem solid $red;
        background: $white;
        // margin-left: 2rem;
    }
    .reviews__list {
        .review__item {
            width: 40rem;
            height: 26rem;
            min-height: 100%;
            background: $white;
            border: 0.2rem solid $grey;
            border-radius: 1rem;
            padding: 3rem;
            transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            cursor: pointer;
            .review__item--top {
                display: flex;
                align-items: center;
                .item__name {
                    margin-left: 2rem;
                    span {
                        color: $textPrimary;
                        font-size: 1.8rem;
                        line-height: calc(30 / 18);
                        font-weight: 500;
                    }
                    p {
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: $textSecond
                    }
                }
                .start {
                    margin-left: auto;
                    font-size: 1.6rem;
                    span {
                        display: inline-block;
                        color: $textPrimary;
                        font-weight: 400;
                        line-height: calc(30 / 16);
                        margin-right: 1rem;
                    }
                    .fas {
                        color: $start;
                    }
                }
            }
            .review__item__content {
                p {
                    margin-top: 2rem;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: calc(30 / 16);
                    color: $textPrimary;
                }
            }
            &:hover {
                border-color: $red;
            }
            &.slick-current.slick-active {
                border-color: $red;
            }
        }
    }
}