.testimonials {
    padding-bottom: 5rem;
    &__top {
        .des {
            margin-bottom: 0;
        }
        strong {
            font-weight: 500;
        }
        margin-bottom: 15.581rem;
    }
    &__img {
        width: 100%;
        img {
            margin: 0 auto;
        }
    }
    &__bottom {
        margin-top: 0.645rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}